.pokemon-card-container{
	background-color:red;
	width:350px;
	height:auto;
	margin:10%;
	padding: 10px;
	border-radius:10px;
}

.background{
	text-align:center;
	background: linear-gradient(to right, pink, purple);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.image{
	width:200px;
	height:200px;
}

.pokemon-name{
	text-align:center;
	font-size:19px;
	font-weight:lighter;
	padding:10px;
}

.pokemon-type{
	background-color:black;
	color:white;
	padding:7px;
	border-radius:5px;
	width:100px;
	display:block;
	text-align:center;
	position:relative;
	top:-60px;
}

.content{
	background-color:blue;
	padding:10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.pokemon-stats > p{
	letter-spacing: 1px;
}

.pokemon-card{}